
# Intellij IDEA files
.idea
*.iml
*.ipr
*.iws

# Eclipse files
.classpath
.project
.settings/

# Maven files
target/

# ANTLR3 files
org.onexus.collection.query.parser/src/main/antlr3/org/onexus/collection/query/parser/internal/output/
