
div.data > div.tab-row {
	height: 29px;
	margin: 0px 0px;
	padding: 0px 0px;
	border-bottom: 1px solid #bbb;

}

div.data > div.tab-row ul {
	margin: 0px 0px;
	padding: 0px 0px;
	list-style:none;
}

div.data > div.tab-row ul li {
	float:left;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 4px 12px 4px 12px;
	background-color: #f4f4f4;
	border: 1px solid #e4e0e1;
}

div.data > div.tab-row ul li select {
    width: 130px;
color:#868686;
font-size:12px;
font-weight:bold;
text-decoration:none;
cursor:pointer;	
	background-color: #f4f4f4;
border:0px;
}

div.data > div.tab-row ul { 
	box-shadow: -4px 7px 7px #c3c3c3;
	overflow: auto;
}

div.data > div.tab-row ul li:hover select {
  background-color: #e4e4e4;
  color: #000000;
}

div.data > div.tab-row ul li.selected select {
	background-color: #FFFFFF;
	color: #475560;
	border: 1px solid red;
}

div.data > div.tab-row ul li:hover {
	background-color: #e4e4e4;
}

div.data > div.tab-row ul li:hover a {
	color: #000000;
}

div.data > div.tab-row ul li a {
	color: #868686;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
}

div.data > div.tab-row ul li {
	border: 1px solid #BBB;
}

div.data > div.tab-row ul li.selected {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

div.data > div.tab-row ul li.selected a {
	color: #475560;
}

div.data > div.tab-panel {
	clear: left;
	background-color: #FFFFFF;
	margin: 0px 0px;
	padding: 0px 0px;

	box-shadow: -4px 7px 7px #c3c3c3;
}

div.position {
	padding: 10px 10px;
    border-bottom: 1px solid #6b95a5;
    border-top: 1px solid #6b95a5;
	background-color: #FFFFFF;
	overflow: visible;
    height: 45px;
	margin-bottom: 15px;
}

div.shadowbox {
	box-shadow: -4px 7px 7px #c3c3c3;
}

ul.entities {
	margin: 0px;
	padding: 0px;
}

ul.entities > li {
    margin-right: 6px;
    float: left;
    list-style: none;
}

ul.entities > li > a {
   float: right;
   margin-left: 5px;
}

ul.entities li img {
    border: 0px;
}

.awesome, .awesome:visited {
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
}

.awesome:hover	{ background-color: #111; color: #fff; }
.awesome:active	{ top: 1px; }
.awesome, .awesome:visited,
.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }
.gray.awesome, .gray.awesome:visited { background-color: #bfbfbf; }
.gray.awesome:hover { background-color: #8f8f8f;}

div.info {
     color: white;
     position: relative;
     text-decoration: none;
     z-index: 24;
}

div.info:hover {
     z-index: 25;
}

div.info div {
     display: none;
}

div.info div ul li {
     color: black;
     float: none;
     font-weight: normal;
     list-style: square outside none;
}

div.info:hover div {
     background-color: white;
     border: 1px solid #387186;
     color: black;
     display: block;
     font-size: 12px;
     left: 0px;
     padding: 4px;
     position: absolute;
     text-decoration: none;
     top: 15px;
     width: 354px;
}


div.data div.tab-row div.viewselector {
    border: 0px solid red;
    float: right;
    margin-right: 20px;
    margin-top: 17px;
}

div.data div.tab-row div.viewselector select {
    background-color: #eee;
    border: 1px solid #bbb;
    color: #666;
}
