
form.tagsform input[type=text] {

}

form.tagsform input {
    font-size: 10px;
    border: 1px solid gray;
}

form.tagsform div.tags {
     border: 1px solid gray;
     margin: 5px 0px;
     padding: 5px;
     min-height: 100px;
     overflow: auto;
}

form.tagsform a {
     text-decoration: none;
     padding: 2px;
}

table.tagcontainer {
     display: inline-block;
}

div.tag {
     background-color: #DDD;
     border-radius: 2px 2px 2px 2px;
     color: #400576;
     float: left;
     margin: 2px;
     padding: 1px 1px 1px 6px;
}

div.tag > a {
     padding: 4px;
}