body {
    background-color: #FFFFFF;
    position: relative;
    margin-top: 5px;

}

#filters div.row-fluid {
    min-height: 50px;
}


.navbar .btn-navbar {
    float: left;
}

ul.btn {
    list-style: none outside none;
    background: none;
    margin: 0px;
}

ul.btn li {
    display: inline-block;
    text-shadow: 0 1px 0 #FFFFFF;
}

ul.breadcrumb {
    padding: 4px 15px;
}

.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 20px;
    padding: 15px 0 36px;
}

.footer p {
    color: #555555;
    margin-bottom: 0;
}

.minh500 {
    min-height: 500px;
}

#filters .btn.active {
   background-color: #FF7634;
}

#filters .btn {
    background-color:#ffa83f;
    background-image:none;
}

#filters .btn-large {
    margin-right: 5px;
}

#filters .btn a {
    color: white;
}

#filters .btn i {
    margin-left: 5px;
}

.navbar .navbar-inner {
    background-color: #FF7634;
    background-image: none;
    color: #FFFFFF;
    font-size: 16px;
    min-height: 35px;
    box-shadow: none;
    filter: none;
}

.navbar .nav>li>a{
    float:none;
    padding:6px 10px 6px;
    line-height:19px;
    color:#FFFFFF;
    text-decoration:none;
}

.navbar .nav .active>a,.navbar .nav .active>a:hover{
    color:#ffffff;
    text-decoration:none;
    background-color:#FF7634;
    border-bottom: 4px solid #ffffff;
    font-weight: bold;
}

.top-row {
    margin-top: 50px;
}

.btn-group form {
    margin: 0px;
    float: left;
    padding: 0px;
}

#tabs ul.nav > li.active > a {
   background-color: #F2F6F8;
   font-weight: bold;
}

#tabs ul.nav > li.open > a {
   color: black;
}

#tabs .dropdown-menu .active > a:hover {
    color: black;
}

#toolbar div.row-fluid {
    margin-top: -18px;
    height: 44px;
    border-bottom: 1px dotted #cccccc;
    background-color: #F2F6F8;
}

#toolbar .nav {
    margin: -5px 5px 5px 10px;
    padding: 0px;
}
#toolbar .btn-toolbar {
    margin: 10px 10px 0px 0px;
    padding: 0px;
}

#content div.row-fluid {
    margin-top: 20px;
}

.btn {
    text-shadow: none;
}

@media (min-width: 1300px) {
    .container-fluid {
    width: 1200px;
    margin: 0px auto;
}
