#container {
	width: 100%;
	max-width: 100%;
	min-width: 700px;
	border-top: 2px solid #999;
}

#header {
	position: relative;
	height: 120px;
	width: 100%;
	background: url(images/header-bg.jpg) repeat-x;
}

#header img#logo {
	position: absolute;
	padding: 0;
	margin: 0;
	text-align: right;
	right: 15px;
	top: 4px;
}

#header #login {
	position: absolute;
	margin: 0;
	text-align: right;
	right: 10px;
	top: 60px;
	font-size: 11px;
	color: #080736;
	font-weight: bold;
}

#header #login a {
	color: #5854ff;
	margin: 3px;
}

#header #nav {
	position: absolute;
	left: 0px;
	top: 17px;
	padding: 0;
	width: 750px;
	margin-left: 0px;
}

#header #nav ul {
	float: left;
	list-style: none;
	padding: 0;
	height: 45px;
}

#header #nav ul li {
	float: left;
	margin: 0;
	padding: 0;
}

#header #nav ul li a {
	float: left;
	margin: 0;
	padding: 0 15px 29px 15px;
	color: #baa7a7;
	font: bold 12px 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		Sans-Serif;
}

#header #nav ul li a:hover,#header #nav ul li a:active {
	border: none;
	color: #fff;
}

#header #nav ul li#current a {
	background: transparent url(images/current.jpg) no-repeat center bottom;
	color: #fff;
}

#header #toolbar {
	position: absolute;
	left: 29px;
	top: 72px;
	height: 45px;
}

#header #toolbar div {
    float: left;
}