.resources-toolbar-selector-title {
	font-size: 9px;
	font-weight: bold;
	height: 19px;
	padding: 0px 5px;
}

.resources-toolbar-selector {
	width: 200px;
	margin-top: 0;
	padding: 0;
}

.resources-tabs {
	position: absolute;
	right: 0;
	bottom: 0;
	overflow: auto;
	min-width: 600px;
	background-color: white;
}

.resources-tabs-min {
	top: 122px;
	left: 304px;
}

.resources-tabs-max {
	top: 0px;
	left: 0px;
}

.resources-tree {
	position: absolute;
	overflow: auto;
	top: 122px;
	bottom: 0px;
	width: 300px;
	margin: 0;
	padding: 0;
	border-right: 4px solid #BBB;
}

.resources-tree td {
	white-space:nowrap;
}

div.resources-tabs div.action-bar {
	margin: 8px;
}

div.action-bar input[disabled] {
	border: 1px solid #CCC;
	color: #BBB;
}

div.action-bar input {
	border: 1px solid #555;
}

div.resources-tabs>div>div.tab-panel {
	position: relative;
	top: 45px;
}

div.resources-tabs>div>div.tab-row {
	float: left;
	width: 100%;
	background: white bottom url("images/tabs/bg.gif") repeat-x;
	line-height: normal;
	margin-bottom: 10px;
}

div.resources-tabs>div>div.tab-row ul {
	margin: 0;
	padding: 10px 10px 0;
	list-style: none;
}

div.resources-tabs>div>div.tab-row li {
	float: left;
	background: url("images/tabs/left.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 9px;
}

div.resources-tabs>div>div.tab-row a {
	display: block;
	background: url("images/tabs/right.gif") no-repeat right top;
	padding: 5px 15px 4px 6px;
	text-decoration: none;
	font-weight: bold;
	color: #765;
	white-space: nowrap;
}

div.resources-tabs>div>div.tab-row a:hover {
	color: #333;
}

div.resources-tabs>div>div.tab-row li.selected {
	background-image: url("images/tabs/left_on.gif");
}

div.resources-tabs>div>div.tab-row li.selected a {
	background-image: url("images/tabs/right_on.gif");
	color: #333;
	padding-bottom: 5px;
}

form>div>div.tab-row ul {
	height: 20px;
	margin: 0px 0px 15px 0px;
	padding-left: 10px;
	background: url( "images/tabs/tab_bottom.gif" ) repeat-x bottom;
}

form>div>div.tab-row li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

form>div>div.tab-row a:link,div.tabpanel4 div.tab-row a:visited {
	float: left;
	background: #f3f3f3;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #666;
}

form>div>div.tab-row li.selected a:link,div.tabpanel4 div.tab-row a:visited.active
	{
	border-bottom: 1px solid #fff;
	background: #fff;
	color: #000;
}

form>div>div.tab-row a:hover {
	background: #fff;
}

ul.feedbackPanel {
	float: right;
	height: 44px;
	margin: 0px 5px;
	width: 500px;
	overflow: auto;
	background-color: #FEE;
	color: #F00;
	border: 1px solid red;
	list-style: none;
	font-size: 10px;
}

div.wizard ul.feedbackPanel {
	width: 675px;
	margin: 0px;
        padding: 5px;
}

div.fullscreen {
	position: absolute;
	top: 10px;
	right: 10px;
}

div.fullscreen img {
	width: 24px;
}

div.wizard-container {
	position: fixed;
	z-index: 9001;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

div.wizard-container div.opacity {
	background-color: #000;
	opacity: 0.75;
	position: fixed;
	z-index: 9002;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

div.wizard {
	position: relative;
	background-color: white;
	margin-left: -350px;
	margin-top: 30px;
	padding: 10px;
	opacity: 1.0;
	filter: alpha(opacity = 100);
	top: 40px;
	left: 50%;
	width: 700px;
	z-index: 9003;
	border: 5px solid gray;
}

div.wizard table {
	width: 100%;
}

div.form {
	margin: 0;
	padding: 0;
}

ul.wizard-list {
   list-style: none;
   margin: 10px;
   padding: 0px;
}

ul.wizard-list li {
   margin: 4px;
   padding: 0px 20px;
   border-bottom: 1px dotted #AAA;
}

ul.wizard-list a {
   color: #444;
   font-weight: bold;
}

div.wizard ul {
    list-style: none;
}

div.wizard label {
     display: block;
     text-align: left;
     font-size: 10px;
     font-weight: bold;
}

div.wizard input {
    float: left;
    margin-top: 0px;
}

div.wizard p {
    font-size: 12px;
}

div.wizard p.text {
    font-weight: bold;
    font-size: 14px;
    text-align: justify;
}

div.wizard input[type=text] {
     background: none repeat scroll 0% 0% #EEE;
     border: 1px solid #555;
     color: black;
     width: 300px;
     padding-left: 4px;
}

div.wizard textarea {
     background: none repeat scroll 0% 0% #FEE3AD;
     border: 1px solid #781351;
     color: #781351;
     width: 300px;
     height: 150px;
     padding: 4px;
}

div.wizard select {
     background: none repeat scroll 0% 0% #FEE3AD;
     border: 1px solid #781351;
     color: #781351;
     width: 300px;
}

div.wizard fieldset {
     border: 1px solid #781351;
     width: 92%;
     margin: 10px 10px;
}

div.wizard legend {
     color: #781351;
     padding: 2px 6px;
}