div.simpleTabStyle {
	margin-left: 20px;
	border: 2px solid #F3F3F3;
	padding: 10px;
}

div.simpleTabStyle div.tab-row li {
	margin: 0;
	padding: 0;
	/*display: inline;*/
	list-style-type: none;
}

div.simpleTabStyle div.tab-row a:link,div.tabpanel div.tab-row a:visited
	{
	float: left;
	background: #f3f3f3;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #666;
}

div.simpleTabStyle div.tab-row li.selected a:link,div.tabpanel div.tab-row a:visited.active
	{
	border-bottom: 1px solid #fff;
	background: #fff;
	color: #000;
}

div.simpleTabStyle div.tab-row a:hover {
	background: #fff;
}

/* Forms used in tabs (all same style) */
div.form-style-one label {
	display: block;
	float: left;
	margin-right: 0.5em;
	text-align: right;
	width: 10em;
	font-weight: bold;
}

div.form-style-one p {
	color: #781351;
	font-size: 12px;
}

div.form-style-one p.text {
	font-weight: bold;
	font-size: 14px;
	text-align: justify;
}

div.form-style-one .submit input {
	margin-top: 20px;
	
}

div.form-style-one input {
	width: 300px;
	padding-left: 4px;
}

div.form-style-one input disabled {
	background: none repeat scroll 0% 0% #FEE3AD;
	border: 1px solid #781351;
	color: #781351;
}

div.form-style-one textarea {
	background: none repeat scroll 0% 0% #FEE3AD;
	border: 1px solid #781351;
	color: #781351;
	width: 300px;
	height: 150px;
	padding: 4px;
}

div.form-style-one select {
	background: none repeat scroll 0% 0% #FEE3AD;
	border: 1px solid #781351;
	color: #781351;
	width: 300px;
}

/* The size of button is given by font-size */
div.form-style-one .submit input {
	background: -moz-linear-gradient(center top, #EDEDED 5%, #DFDFDF 100%)
		repeat scroll 0 0 #EDEDED;
	border: 1px solid #DCDCDC;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 0 0 #FFFFFF inset;
	color: #777777;
	display: inline-block;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 0 #FFFFFF;
	padding: 2px 13px;
	width: auto;
	cursor : pointer;
}

div.form-style-one fieldset {
	border: 1px solid #C0C0AB;	
	border-radius: 5px 5px 5px 5px;
	background: #F5F5F5;	
	width: 92%;
	margin: 5px;
	padding: 10px;
}

div.form-style-one fieldset fieldset {
	background : none repeat scroll 0 0 #EBF6F8 /*wheat*/;
}

div.form-style-one legend {
	color: #781351;
	padding: 2px 6px;
}

div.form-style-one>.title {
	font-size: 16px;
	font-weight: bold;
	font-color: #1155CC; /* #475560; */
}

div.form-style-one .clickableItem {
	cursor: pointer;
	vertical-align: text-top;
}

div.form-style-one .add-on-tabulator {
	margin-left: 20px;
	
}

div.form-style-one > .itemsList {
	border: 1px solid #DCDCDC;
}

div.form-style-one span.action-toolbars {
	margin-left : 10px;
	font-size:20px;
}

div.envolve-structure {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #EEEEEE;
	padding: 1em;
}

div.envolve-structure fieldset {
	border: 1px solid #DDDDDD;
	padding: 0 0.5em 0.5em;
}

div.envolve-structure legend {
	color: #0B77B7;
}

.look-like-button {
	background: -moz-linear-gradient(center top, #EDEDED 5%, #DFDFDF 100%)
		repeat scroll 0 0 #EDEDED !important;
	border: 1px solid #DCDCDC !important;
	border-radius: 6px 6px 6px 6px !important;
	box-shadow: 0 1px 0 0 #FFFFFF inset !important;
	color: #777777 !important;
	display: inline-block !important;
	font-family: arial !important;
	font-size: 12px;
	font-weight: bold !important;
	text-decoration: none !important;
	text-shadow: 1px 1px 0 #FFFFFF !important;
	padding: 2px 13px;
	width: auto !important;
	cursor: pointer !important;
	margin-bottom: 10px;
}

span.quickView { /*display:none;*/
	/*left:0; width:132;*/
	position: absolute;
	z-index: 2;
	visibility: hidden;
	border-style: solid;
	background-color: white;
	padding: 5px;
	margin-left: 10px;
}