
div.data > div.content {
	clear: left;
	background-color: #FFFFFF;
	margin: 0px 0px;
	padding: 20px 50px;
	font-size: 15px;
	color: #444;
	text-align: justify;
	min-height: 600px;
    box-shadow: -4px 7px 7px #c3c3c3;
}

